.App-header {
  height: 75px;
}

.App-logo {
  height: 75px;
  width: 75px;
}

.lg-view{
  display:inline-block;
}

.sm-view{
  display:none;
}

@media screen and (max-width: 500px) {
  .lg-view{
     display:none;
  }

  .sm-view{
     display:inline-block;
  }
}