body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
  color: rgb(143, 140, 140);
  background-color: rgb(39, 39, 39);
  overflow-y: auto;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 56px;
}

/* Roboto Black */
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-optical-sizing: auto;
  font-weight: 500;
  /* Black weight is typically 900 */
  font-style: normal;
}

/* Roboto Black Italic */
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 900;
  /* Black weight is typically 900 */
  font-style: italic;
}

/* Roboto Bold */
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 700;
  /* Bold weight is typically 700 */
  font-style: normal;
}