body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Roboto Black */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  /* Black weight is typically 900 */
  font-style: normal;
}

/* Roboto Black Italic */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  /* Black weight is typically 900 */
  font-style: italic;
}

/* Roboto Bold */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  /* Bold weight is typically 700 */
  font-style: normal;
}