.rw-card {
  margin: 20px;
  border: solid 1px #626161;
  border-radius: 5px;
  padding: 5px 10px;
}

.rw-header {
  border-bottom: solid 1px #2f2f2f;
}

.rw-content {
  color: #9b9a9a;
}


.rw-footer {
  border-top: solid 1px #2f2f2f;
}
